<div class="github-card" data-github="jinka" 
data-width="400" data-height="" data-theme="default">

</div>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>


<div class="github-card" data-user="lepture">{{user.picture}}</div>


<div>Github User Name:{{user.name}}</div>
<div>Github User Followers:{{user.followers}}</div>
<div>Github Creation Date:{{user.creationDate}}</div>
<img class="img-thumbnail github-avatar" src="{{user.picture}}" alt="">